<!DOCTYPE html>
<html lang="en" data-ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>AngularJS-FlotCharts Example</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<style type="text/css">
			/* chart styles */
			.pie {
				color: #222;
				font-size: 8pt;
				font-weight: bold;
				padding: 1em;
				text-align: center;
			}

			.chart-title {
				font-weight: bold;
			}

			[data-chart] {
				height: 300px;
				width: 500px;
			}

			main {
				margin: 1em;
			}

			main > div {
				border-bottom: 1px dotted #ccc;
				padding: 1em;
			}
		</style>
	</head>
	<body>
		<!-- begin container -->
		<main class="container" id="main" role="main">
			<h1>AngularJS/Flot Charts Example</h1>
			<!-- begin stats -->
			<div>
				<div class="chart-title">Disk Usage</div>
				<div data-flot-chart id="disk" data-chart="pie" data-ng-model="model" data-ng-controller="diskChartCtrl"></div>
			</div>

			<div>
				<div class="chart-title">CPU Usage (Past hour)</div>
				<div data-flot-chart id="cpu" data-chart="line" data-ng-model="model" data-ng-controller="cpuChartCtrl"></div>
			</div>

			<div>
				<div class="chart-title">Server Traffic (Past hour)</div>
				<div data-flot-chart id="traffic" data-chart="line" data-ng-model="model" data-ng-controller="trafficChartCtrl"></div>
			</div>

			<div>
				<div class="chart-title">Availability (Past 30 Days)</div>
				<div data-flot-chart id="serveruptime" data-chart="line" data-ng-model="model" data-ng-controller="serveruptimeChartCtrl"></div>
			</div>
			<!-- end stats -->
		</main>
		<!-- end container -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="js/libs/angular.js"></script>
		<script src="js/libs/angular-resource.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/charts.js"></script>
		<script src="js/directives/charts.js"></script>
		<script src="js/libs/flot/jquery.flot.js"></script>
		<script src="js/libs/flot/jquery.flot.resize.js"></script>
		<script src="js/libs/flot/jquery.flot.pie.js"></script>
		<script src="js/libs/flot/jquery.flot.categories.js"></script>
		<script src="js/libs/flot/jquery.flot.stack.js"></script>
	</body>
</html>
